<footer>
<i class="fa-thin fa-copyright fa-sm"></i> 2021 Paul Applegate
<i class="fa-thin fa-pencil fa-sm"></i> <a href="https://github.com/theapplegates/11ty-sia-blog/blob/main/{{ page.inputPath }}"> Edit this page on GitHub.</a>
<a href="https://keybase.io/mrapplegate"> Grab my public key.</a>
Here is the fingerprint:
79D1 B90A 4FB5 7FFE 6373  1C2A C579 6907 B68B 5D76
</footer>
