<footer class="site-footer">
<small>

<i class="fa-light fa-copyright fa-sm"></i> 2021 Paul Applegate
<i class="fa-light fa-pencil fa-sm"></i> <a href="https://github.com/theapplegates/11ty-sia-blog/blob/main/{{ page.inputPath }}"> Edit on GitHub.</a>
<br
<p>Grab my <i class="fa-light fa-key"></i> <a href="https://eager-keller-92194d.netlify.app/posts/pgp-key">here</a>.</p>
Here is the fingerprint:
77374 A3973 E379C C3FBD 181C5 33375 71BB5 DBF64 ABFC9 CCFBC 1ADC4 6CA8D 9661
</br>
<link href="https://github.com/theapplegates" rel="me">
</small>
</footer>
