<!doctype html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/96d943cb0f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.4/cloudinary-core-shrinkwrap.js" integrity="sha512-ncpTgabork7MaotpdVQQegdGsZqRvZ4j0vsUV73i2hwGD9cXObQtBSb0UKkUU2z5p999tHmzh67TTdbY4V55/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: 'YW6H3XLVWJ',
        apiKey: '7e008182db6747b9b3551088ec47ffdf',
        siteId: '085b06d2-232b-40fb-82a3-bbaa601eeadc',
        branch: 'main',
        selector: 'div#search',
      });
    </script>
    <meta charset="utf-8">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- Inline and minify CSS - VS Code thinks this is invalid but it's fine -->
    {% set code_css %}
      {% include "_code.css" %}
    {% endset %}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ code_css | cssmin | safe }}
      {{ css | cssmin | safe }}
    </style>

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
        <li class="nav-item"><a href="/feed/feed.xml">RSS</a></li> <li class="nav-item"><div id="search"></div></li>
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
  <script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "paulportfolio"});
    // replace 'demo' with your cloud name in the line above
    cl.responsive();
</script>
</html>
