---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <i class="fa-thin fa-tag"></i> <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
